<div class="container">
    <mat-spinner class="spinner" *ngIf="loadingPost"></mat-spinner>
    <mat-spinner class="spinner" *ngIf="deleteingPost"></mat-spinner>
    <h1>{{travelPost?.title}}
        <!-- Action buttons -->
        <button mat-icon-button [matMenuTriggerFor]="menu" class="action-buttons">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deletePost()" [disabled]="deleteingPost">
                <mat-icon color="warn">delete</mat-icon>
                <span>Delete Post</span>
            </button>
            <button mat-menu-item (click)="editPost()">
                <mat-icon color="primary">border_color</mat-icon>
                <span>Edit Post</span>
            </button>
        </mat-menu>
    </h1>

    <!-- Image -->
    <div class="img-container">
        <img [src]="travelPost?.imageUrl">
    </div>

    <!-- Description -->
    <p class="description">{{travelPost?.description}}</p>
</div>