.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100%;
}

.spinner {
    align-self: center;
}

h1 {
    align-self: center;
}

.img-container {
    align-self: center;
    aspect-ratio: 1/1;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */
}

.description {
    align-self: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

.action-buttons {
    position: fixed;
    bottom: 3em;
    right: 20%;

}

button {
    margin-left: 0.5em;
}