<div class="container">
    <mat-card *ngFor="let post of cookingPosts" class="post gigantify-105" [routerLink]="'/cooking/' + post.pid">
        <div class="img-container">
            <img [src]="post.imageUrl?.replace('personal-website-storage', 'personal-website-storage-thumbnails')">
        </div>
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{post.description}}</p>
        </mat-card-content>
    </mat-card>
    <mat-spinner class="spinner" *ngIf="loadingPosts"></mat-spinner>

     <!-- Add Button -->
     <div matRipple class="add-button-container">
         <img class="add-button gigantify-11" src="assets/add_button.png" (click)="addNewCookingPost()">
     </div>
</div>