@import "~swiper/modules/pagination/pagination.min.css";
/* @import "~swiper/css/effect-cube";
@import "~swiper/css/pagination"; */

/* .router-outlet-container {
    display: flex;
    justify-content: center;
    background-image: url('https://chopra.brightspotcdn.com/35/7f/6af0bad84c0fa4134223c8d67986/photo-1458093257227-0f30303eb1f0.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
} */

/* app-nav-bar {
    position: sticky;
} */