:host {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    justify-content: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100%;
}

.spinner {
    align-self: center;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: lightpink !important;
}

h1 {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    width: 100%;
    justify-content: center;
}

.img-container {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    max-height: auto;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: infinite; */
}

.description {
    align-self: center;
}

.action-buttons {
    position: absolute;
    right: 1em;
    align-self: flex-end;
}

.action-buttons button {
    margin-left: 0.5em;
}

/* .mat-button-wrapper {
    height: 2em;
}

mat-icon {
    width: 1em;
    height: 1em;
} */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop */
    :host {
        padding: 2em 7em;
    }

    h1 {
        font-size: xx-large;
    }

    .img-container {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .action-buttons {
        right: 7em;
    }

    .action-buttons button {
        margin-left: 0.5em;
    }

}