<h3 mat-dialog-tittle>{{data.title}}</h3>

<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field class="description-input" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" placeholder="Description" formControlName="description" rows="4"></textarea>
        </mat-form-field>

        <!-- Upload image -->
        <div class="upload-image-container">
            <button mat-raised-button class="upload-button" (click)="imageUploadInput.click()">
                <mat-icon>file_upload</mat-icon>
                <span>Upload Image</span>
            </button>
            <div class="image-container">
                <img #img>
            </div>
        </div>
    </form>
</div>

<!-- Action buttons -->
<div mat-dialog-actions>
    <ng-container *ngIf="uploadingImage">
        <span class="uploading-text">Uploading</span>
        <mat-spinner class="uploading-spinner" diameter="30"></mat-spinner>
    </ng-container>
    <button mat-raised-button class="action-button" [disabled]="!form.valid || !form.dirty || uploadingImage"
        (click)="onSave()">
        Save
    </button>
    <button mat-raised-button mat-dialog-close class="action-button">Cancel</button>
</div>

<input #imageUploadInput type="file" class="image-upload-input" (change)="onFileSelected($event.target.files[0])">