h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.upload-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upload-button {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.image-upload-input {
    visibility: hidden;
    width: 0 !important;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 5em;
    flex-grow: 1;
}

img {
    width: 75%;
    height: auto;
}

.uploading-text {
    font-style: italic;
}

.uploading-spinner {
    margin-left: 1em;
    margin-right: 1em;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: lightpink !important;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.action-button {
    margin-right: 0.2em;
    width: 5em;
}