.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    max-height: 100%;
}

.spinner {
    align-self: center;
}

mat-card {
    margin: 1em;
    max-width: 15vw;
    max-height: auto;
    overflow-y: scroll;
    cursor: pointer;

    transition: transform .2s;
}

mat-card:hover {
    transform: scale(1.05);
}

mat-card-header {
    margin-top: 1em;
    justify-content: center;
}

mat-card-content {
    display: flex;
    justify-content: center;
}

.img-container {
    aspect-ratio: 1/1;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.add-button {
    cursor: pointer;
    max-width: 15vw;
    max-height: 15vw;
    align-self: center;

    transition: transform .2s;
}

.add-button:hover {
    transform: scale(1.1);
}