<!-- Summary about self -->
<div class="summary-about-self-container">
    <h2>Hello Real World!</h2>
    <div class="summary-about-self">
        <div class="summary-about-self-paragraph-container">
            <p class="summary-about-self-paragraph">
                I am a software engineer who loves to make interactive web apps to solve fun problems. I graduated with a Bachelor Degree in Computer Science major.
            </p>
        </div>
        <div class="ly-photo-container">
            <img class="ly-photo" src="assets/lydo.JPG" title="Ly Do">
            <p class="name">Ly Do</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>

<!-- Projects -->
<div class="projects-container">
    <h2>Projects</h2>
    
    <!-- Movie Project -->
    <div class="movie-project">
        <h3>Movie Generator Web App</h3>
        <div class="movie-project-container">
            <div class="movie-project-paragraph">
                <p>
                    Web application with features including browsing movies, actors, and watchlist management.
                </p>
            </div>
            <div class="movie-project-photo-container">
                <img class="movie-project-photo-1" src="assets/project-movie-1.png" alt="">
                github link : 
                https://github.com/thaolydo/movie-generator-service
                https://github.com/thaolydo/movie-generator-web-app 
            </div>
        </div>
    </div>
    
    <!-- Android -->
    <div class="android-project">
        <h3>Expense Tracker Android App</h3>
        <div class="android-project-paragraph-container">
            <div class="project-expense-tracker-photo-container">
                <img class="project-expense-tracker-photo-1" src="assets/project-expense-tracker-1.png" alt="">
                github link: https://github.com/ruddy-castro/Mobile-App-Code/tree/main/Projects/FinalProject
            </div>
            <div class="android-project-paragraph-summary-container">
                <p class="android-project-paragraph-summary">
                    Expense Tracker application will keep track of the income-expense of a user on a day-to-day basis. 
                    The application contains a calculator that takes income (annually), maximum daily expense, and 
                    the amount of saving a user plans to reach annually as inputs and calculates the amount of saving. 
                    The expense tracking application will generate a report at the end of a month to show income expense via multiple graphs.
                </p>
            </div>
        </div>
    </div>
    
    <!-- Music -->
    <div class="music-project">
        <h3>Music Player</h3>
        <div class="music-project-summary-container">
            <div class="music-project-summary-paragraph-container">
                <p class="music-project-summary-paragraph">
                    A music player with features: playlist, library, playing a song, and other features
                    similar to iTune. 
                </p>
            </div>
            <div class="music-photo-container" >
                <img class="music-photo" src="assets/project-music-player.png" alt="">
                github link: https://github.com/thaolydo/cecs343-project
            </div>
        </div>
    </div>
    
</div>
<mat-divider></mat-divider>

<!-- Skills -->
<div class="skills-container">
    <h2>Skills</h2>
    <p>
        Backend: NodeJS, AWS Services, DynamoDB, Java, Spring Boot, MEAN stack, Google Guice, PostgreSQL, Python.
        Frontend: Angular, TypeScript, HTML, CSS, Android SDK.
    </p>
</div>
