<!-- Summary about self -->
<div class="summary-about-self-container">
    <h2>Hello Real World!</h2>
    <div class="summary-about-self">
        <div class="summary-about-self-paragraph-container">
            <p class="summary-about-self-paragraph">
                I am a software engineer who loves to make interactive web apps to solve fun problems. I graduated with
                a Bachelor Degree in Computer Science major.
            </p>
        </div>
        <div class="ly-photo-container">
            <img class="ly-photo mat-elevation-z8 gigantify-13" src="assets/lydo.JPG" title="Ly Do">
            <p class="name">Ly Do</p>
        </div>
    </div>
</div>
<mat-divider></mat-divider>

<!-- Projects -->
<div class="projects-container">
    <h2>PROJECTS</h2>

    <!-- Movie Project -->
    <div class="movie-project">
        <h3>Movie Generator Web App</h3>
        <div class="movie-project-container">
            <!-- Summary paragraph -->
            <div class="movie-project-paragraph">
                <p>
                    Web application with features including browsing movies, actors, and watchlist management.
                </p>
            </div>

            <div class="demo">
                <!-- Photos -->
                <div class="movie-project-photo-container gigantify-11">
                    <img class="movie-project-photo-1 mat-elevation-z8" src="assets/project-movie-1.png" />
                </div>

                <!-- Project links -->
                <div class="movie-project-links">
                    <a class="gigantify-15" style="margin-right: 1em;" matRipple
                        href="https://github.com/thaolydo/movie-generator-service" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                        Backend
                    </a>
                    <a class="gigantify-15" matRipple href="https://github.com/thaolydo/movie-generator-web-app"
                        target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                        Frontend
                    </a>
                </div>
            </div>
        </div>
    </div>
    <mat-divider class="project-divider"></mat-divider>

    <!-- Android -->
    <div class="android-project">
        <h3>Expense Tracker Android App</h3>
        <div class="android-project-container">
            <!-- Summary -->
            <div class="android-project-paragraph-summary-container">
                <p class="android-project-paragraph-summary">
                    <li>
                        Expense Tracker application will keep track of the income-expense of a user on a day-to-day
                        basis.
                    </li>
                    <li>
                        The application contains a calculator that takes income (annually), maximum daily expense, and
                        the amount of saving a user plans to reach annually as inputs and calculates the amount of
                        saving.
                    </li>
                    <li>
                        The expense tracking application will generate a report at the end of a month to show income
                        expense
                        via multiple graphs.
                    </li>
                </p>
            </div>

            <!-- Demo -->
            <div class="demo">
                <!-- Photo -->
                <div class="project-expense-tracker-photo-container gigantify-11">
                    <swiper class="gigantify-11" [effect]="'cube'" [grabCursor]="true" [cubeEffect]="{
                            shadow: true,
                            slideShadows: true,
                            shadowOffset: 20,
                            shadowScale: 0.94
                          }" [pagination]="true" class="mySwiper">
                        <ng-template swiperSlide><img class="mat-elevation-z8"
                                src="assets/project-expense-tracker-1.png"></ng-template>
                        <ng-template swiperSlide><img class="mat-elevation-z8"
                                src="assets/project-expense-tracker-2.png"></ng-template>
                        <ng-template swiperSlide><img class="mat-elevation-z8"
                                src="assets/project-expense-tracker-3.png"></ng-template>
                    </swiper>
                </div>

                <!-- Links -->
                <div class="android-project-links">
                    <a class="gigantify-15" matRipple href="https://github.com/ruddy-castro/Mobile-App-Code"
                        target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <mat-divider class="project-divider"></mat-divider>

    <!-- Music -->
    <div class="music-project">
        <h3>Music Player</h3>
        <div class="music-project-container">
            <!-- Summary paragraph -->
            <div class="music-project-summary-paragraph-container">
                <p class="music-project-summary-paragraph">
                    A music player with features: playlist, library, playing a song, and other features
                    similar to iTune.
                </p>
            </div>

            <!-- Demo -->
            <div class="demo">
                <!-- Photo -->
                <div class="music-photo-container gigantify-11">
                    <img class="music-photo mat-elevation-z8" src="assets/project-music-player.png" alt="">
                </div>

                <!-- Links -->
                <div class="android-project-links">
                    <a class="gigantify-15" matRipple href="https://github.com/thaolydo/cecs343-project"
                        target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<mat-divider></mat-divider>

<!-- Skills -->
<div class="skills-container">
    <h2>SKILLS</h2>
    <p style="margin-bottom: 1em;">
        <span style="text-decoration: underline;">Backend</span>: NodeJS, AWS Services, DynamoDB, Java, Spring Boot, MEAN stack, Google Guice, PostgreSQL, Python.
    </p>
    <p>
        <span style="text-decoration: underline;">Frontend</span>: Angular, TypeScript, HTML, CSS, Android SDK.
    </p>
</div>