/* For mobiles */
:host {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    justify-content: center;
}

/* Links */
.selected {
    font-weight: 900;
    font-size: xx-large;
}

.links {
    display: flex;
    flex-direction: row;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: inherit;
    margin: 0.2em;
}

.summary-about-self-container {
    margin-bottom: 2em;
}

.summary-about-self {
    display: flex;
    flex-direction: column;
}

.summary-about-self-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.summary-about-self-paragraph {
    font-style: italic;
}

.ly-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ly-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

h3 {
    color: orange;
    font-weight: bolder;
}

/* Movie App Project */
.movie-project {
    margin-bottom: 2em;
}

.movie-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-project-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.movie-project-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1em;
}

.movie-project-photo {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-project-links {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

/* Android project */
.android-project {
    margin-bottom: 2em;
}

.android-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.android-project-paragraph-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.project-expense-tracker-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-pagination-bullets {
    position: absolute;
    bottom: 0px !important;
}

.project-expense-tracker-img {
    display: block;
    width: 100% !important;
}

.android-project-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

/* Music Project */

.music-project {
    margin-bottom: 2em;
}

.music-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-project-summary-paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.music-photo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-photo {
    max-width: 100%;
    height: auto;
}

.mat-divider {
    border-top-width: 3px;
}

.project-divider {
    border-top-width: 2px;
    width: 70%;
    align-self: center;
}

img {
    border-radius: 1em;
}

p {
    line-height: 2em;
}

@media only screen and (min-width: 768px) {
    /* Desktop */

    :host {
        padding: 2em 5em;
    }

    .summary-about-self {
        flex-direction: row;
        justify-content: space-between;
    }

    .summary-about-self-paragraph-container {
        width: 50%;
    }

    .ly-photo-container {
        width: 50%;
    }

    .ly-photo {
        width: 20vw;
        height: auto;
        object-fit: cover;
    }

    .demo {
        width: 50%;
    }

    /* Movie App Project */
    .movie-project {
        margin-bottom: 2em;
    }

    .movie-project-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .movie-project-paragraph {
        width: 50%;
    }

    .movie-project-photo-container {
        width: 80%;
    }

    .movie-project-photo-1 {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .movie-project-links {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        width: 100%;
    }

    /* Android project */
    .android-project {
        margin-bottom: 2em;
    }

    .android-project-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .android-project-paragraph-summary-container {
        width: 50%;
    }

    .project-expense-tracker-photo-container {
        width: 75%;
    }

    .android-project-links {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1em;
    }

    /* Music Project */

    .music-project {
        margin-bottom: 2em;
    }

    .music-project-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .music-project-summary-paragraph-container {
        width: 50%;
    }

    .music-photo-container {
        width: 75%;
    }

}